      {
        "name": "ohos.permission.USE_FLOAT_BALL",
        "reason": "$string:float_ball_permission_reason",
        "usedScene": {
          "abilities": [
            "EntryAbility"
          ],
          "when": "inuse"
        }
      }
